body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.lista {
    /* Caixa flexíveis */
    display: flex;
    gap: 10px;
    flex-direction: column;

    /*Remover estilo de lista*/
    list-style: none;

    /*Espacamento interno */
    padding-left: 0;
    padding-right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

.lista__item {

    /*Cores*/
    background-color: gray;

    /*Borda*/
    border-radius: 5px;

    /*Espaçamento externo*/
    margin-top: 10px;
    margin-bottom: 10px;

    /*Espaçamento interno*/
    padding: 20px;

    /*Texto*/
    text-align: center;

    /*Dimensão*/
    width: 100%;
}
/*Projeto mobile first*/

/*Computador*/

@media(min-width: 481px) {

    body {
        background-color: black;
    }
    
    .lista{
        flex-direction: row;
    }

    .lista__item {
        /*Dimensão*/
        width: 25%;
    }
}
