* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.login {
    background-color: white;
    max-width: 390px;
    min-height: 40vh;
    padding: 2rem;
    border: solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    position: relative;



}

body {
    margin-top: 60px;
    min-height: 10vh;
    min-width: 10h;
    display: flex;
    align-items: top;
    justify-content: center;

}

h1 {
    
    margin: 15px;
    font-size: 30px;
    
}

.login__titulo {
    
}


.formulario__grupo {

}

.termos__uso{

}

button {


}

img {
    width: 150px;
    height: 50px;
    position: absolute;
    top: -55px;
    transform: translate(50%);
}

.copywriters {
    position: absolute;
    transform: translate(%);
}